BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
SortIncludes: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
IndentCaseBlocks: false
IndentCaseLabels: false
SpacesInParentheses: true